@font-face {font-family: "icomoon";src: url("fonts/icomoon.eot");src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"),url("fonts/icomoon.woff") format("woff"),url("fonts/icomoon.ttf") format("truetype"),url("fonts/icomoon.svg#icomoon") format("svg");font-weight: normal;font-style: normal;}
.icon-phone, .icon-gift, .header-nav a.nav-top-link.icon-search, .nav-top-link.icon-search, .icon-angle-left, .icon-angle-right, .icon-angle-up, .icon-angle-down, .icon-twitter, .icon-heart, .icon-envelop, .icon-tag, .icon-star, .icon-star-2, .icon-star-3, .icon-facebook, .icon-feed, .icon-close, .icon-checkmark, .icon-menu, .icon-plus, .icon-minus, .icon-instagram, .icon-google-plus, .icon-pinterest, .icon-search, .icon-skype, .icon-dribbble, .icon-users, .icon-certificate, .icon-expand, .icon-linkedin, .icon-map-pin-fill, .icon-pen-alt-fill, .icon-youtube, .icon-flickr, .icon-clock, .icon-inner, .icon-vk {font-family: "icomoon" !important;speak: none !important;font-style: normal !important;font-weight: normal !important;font-variant: normal !important;text-transform: none !important;line-height: 1;-webkit-font-smoothing: antialiased !important;}
.icon-phone:before {content: "" !important;}
.icon-gift:before {content: "" !important;}
.icon-angle-left:before {content: "" !important;}
.icon-angle-right:before {content: "" !important;}
.icon-angle-up:before {content: "" !important;}
.icon-angle-down:before {content: "" !important;}
.icon-twitter:before {content: "" !important;}
.icon-heart:before {content: "" !important;}
.icon-envelop:before {content: "" !important;}
.icon-tag:before {content: "" !important;}
.icon-star:before {content: "" !important;}
.icon-star-2:before {content: "" !important;}
.icon-star-3:before {content: "" !important;}
.icon-facebook:before {content: "" !important;}
.icon-feed:before {content: "" !important;}
.icon-close:before {content: "a" !important;}
.icon-checkmark:before {content: "" !important;}
.icon-menu:before {content: "" !important;}
.icon-plus:before {content: "" !important;}
.icon-minus:before {content: "" !important;}
.icon-instagram:before {content: "" !important;}
.icon-google-plus:before {content: "" !important;}
.icon-pinterest:before {content: "" !important;}
.icon-search:before {content: "" !important;}
.icon-skype:before {content: "" !important;}
.icon-dribbble:before {content: "" !important;}
.icon-users:before {content: "" !important;}
.icon-certificate:before {content: "" !important;}
.icon-expand:before {content: "" !important;}
.icon-linkedin:before {content: "" !important;}
.icon-map-pin-fill:before {content: "" !important;}
.icon-pen-alt-fill:before {content: "" !important;}
.icon-youtube:before {content: "" !important;}
.icon-flickr:before {content: "" !important;}
.icon-clock:before {content: "" !important;}
.icon-vk:before {content: "" !important;}